<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Here are some ideas of how I might help</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-1x">
                        <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
                    </span>
                    <h4 class="service-heading">Deployment Pipeline</h4>
                    <p class="text-muted">Are you a startup or a freelance developer that could use some help setting up a deployment pipeline for your project? I'd love to build, you/your team, the framework you need to deploy efficiently and repeatedly.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-1x">
                        <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i> -->
                    </span>
                    <h4 class="service-heading">Server Infrastructure</h4>
                    <p class="text-muted">No one likes it when a website goes down. Let me help you make sure that doesn't happen. We'll configure servers and databases with the high availability and failover that your customers expect from you.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-1x">
                        <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i> -->
                    </span>
                    <h4 class="service-heading">Site Management</h4>
                    <p class="text-muted">Looking for someone to take over the management of your website? I'd be glad to be the one responsible for making sure your site stays fast and functional.</p>
                </div>
            </div>
        </div>
    </section>